﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is Donald Sincennes Lab 4 on Entity Framework!</p>
    <p>Instead of MVC, I'd like to try something more up to date like a C# backend with a react or something front end... 
        But that would take away from the entire .NET portion I guess... I just dont see MVC used in any of the coops 
        I did and have all moved to different patterns</p>
</div>