﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is Donald Sincennes Lab 4 on Entity Framework!</p>
    <p>Enjoying the course... no where i did a coop used MVC, as they said it was out of date, but its nice getting some experience in it... 
        My only opinion would be to see if can use front end framework like react or something similar and in demand</p>
</div>